@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --van-theme: linear-gradient(90deg,#3c57b6 0%, #948cce 90%);
    --van-primary-color: var(var(--van-theme)) !important;
    --van-nav-bar-background: var(--van-theme) !important;
    --van-nav-bar-text-color: #fff !important;
    --van-nav-bar-title-text-color: #fff !important;
    --van-nav-bar-z-index: 999 !important;	
    --van-cell-label-margin-top: 0px !important;
    --van-nav-bar-icon-color: #fff !important;
    --van-tabs-bottom-bar-color: #3c57b6 !important;
    --van-step-text-color:#3c57b6 !important;
    --van-step-active-color:#3c57b6 !important;
    --van-step-icon-size: 20px !important; 
    --van-cell-horizontal-padding:10px !important;        
}
.van-tabs--line .van-tabs__wrap{
    border-radius: 10px !important;
}
